<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1"/>
    <title>EzPic</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">EzPick</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">←</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- Contents -->
<div style="padding-top:50px;">
    <div>
        <h3 style="height:800px;"><a href="#">YouTube</a></h3>
        <section>
        </section>
    </div>
    <hr/>
    <div>
        <h3><a href="#">Instagram</a></h3>
        <section>
        </section>
    </div>
    <hr/>
    <div>
        <h3><a href="#">Qiita</a></h3>
        <section>
        </section>
    </div>
    <hr/>
    <div>
        <h3><a href="#">FaceBook</a></h3>
        <section>
        </section>
    </div>
    <hr/>
    <div>
        <h3><a href="#">iTunes</a></h3>
        <section>
        </section>
    </div>
    <hr/>
    <div>
        <h3><a href="#">Twitter</a></h3>
        <section>
        </section>
    </div>
    <hr/>
    <div>
        <h3><a href="#">Flickr</a></h3>
        <section>
        </section>
    </div>
    <hr/>
</div>
<!-- Contents -->

<footer>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
